<component name="ProjectRunConfigurationManager">
  <configuration default="false" name="SpringSecurityStarterApplication" type="SpringBootApplicationConfigurationType" factoryName="Spring Boot">
    <module name="spring-security-starter.main" />
    <option name="SPRING_BOOT_MAIN_CLASS" value="starter.spring.security.SpringSecurityStarterApplication" />
    <extension name="software.aws.toolkits.jetbrains.core.execution.JavaAwsConnectionExtension">
      <option name="credential" />
      <option name="region" />
      <option name="useCurrentConnection" value="false" />
    </extension>
    <method v="2">
      <option name="Make" enabled="true" />
    </method>
  </configuration>
</component>